.setting {
    background-color: rgba(0,0,0, 0.5);
    color: white;
    position: absolute;
    bottom: 8%;
    left: 3%;
    border-radius: 5px;
  
    width: 250px;
    height: 400px;
    
    display: flex;
    flex-direction: column; 

    font-family: "Exo 2", sans-serif;
    color: white;
    font-size: 20px;
    margin-left : 10px;
  }

  .setting-container{
    display: flex;
    flex-direction: row;
}

.setting-item{
    flex:1;
    text-align: left;
    margin-left : 10px;
    margin-top : auto;
    margin-bottom: auto;
  }
  
  input.apple-switch {
    display:block;
    appearance: none; outline: none;
    width: 50px; 
    height: 30px;
    background-color: #ffffff; border: 1px solid #D9DADC;
    border-radius: 50px; box-shadow: inset -20px 0 0 0 #808080;
    transition-duration: 200ms;
   }

   input.apple-switch:checked {
    border-color: #4ED164;
    box-shadow: inset 20px 0 0 0 #4ED164;
   }

   input.apple-switch:checked:after {
    left: 20px;
    box-shadow: -2px 4px 3px rgba(0,0,0,0.05);
   }