.todo-container-v{
  visibility: visible;
  opacity: 1;
  transition-delay: 0.33s;
}

.todo-container-x{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.33s, opacity 0.33s linear;
}


.todo {

  background-color: rgba(0,0,0, 0.7);
  color: white;
  position: absolute;
  bottom: 12%;
  right: 1%;
  border-radius: 5px;

  width: 250px;
  height: 250px;

  display: flex;
  flex-direction: column;
}

.inputBtn {
  all: unset;
  background-color: rgba(255,255,255, 0.1);
  color: rgba(255,255,255, 1);
  padding: 10px;
  border-radius: 0 0 5px 5px;
}

.button-1{
  width:50px;
  height:50px;
  border:2px solid white;
  float:left;
  text-align:center;
  cursor:pointer;
  position: absolute;
  box-sizing:border-box;
  overflow:hidden;
  bottom: 5%;
  right: 2%;
  /* margin:10px 10px 40px 0; */
}

.button-1 a{
  font-family:arial;
  font-size:16px;
  color:white;
  text-decoration:none;
  line-height:50px;
  transition:all .5s ease;
  z-index:2;
  position:relative;
}

.eff-1{
  width:140px;
  height:50px;
  top:-2px;
  right:-140px;
  background:black;
  position:absolute;
  transition:all .3s ease;
  z-index:1;
}

.button-1:hover .eff-1{
  left: 0;
}

.button-1:hover a{
  color:#fff;
}